.app {
  font-family: "Arial", sans-serif;
}

main {
  margin: 20px;
}

@media screen and (max-width: 600px) {
  /* Gaya CSS untuk layar dengan lebar maksimum 600px */
  .header {
    font-size: 18px;
  }

  .features {
    padding: 20px;
  }
}
